
#dash-page-navigation-bar {
    position: fixed;
    bottom:20px; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    gap:30px;
  
}

.highcharts-credits{
    display: none;

}

.ChartAreaDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 700px;
    border-radius: 15px;
    padding: 10px;
} 


#selectCountryChip{
  position: absolute;
  bottom: 20px;
}