

.apexCharts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    border-radius: 15px;
    padding: 10px;
} 


#selectCountryChip{
  position: absolute;
  bottom: 20px;
}



/* .mantine-SegmentedControl-control{
    padding: 5px;
    margin: 5px ;
    border-radius: 10px;
    background-color: rgb(228, 231, 228);
}
  .mantine-SegmentedControl-controlActive{
    background-color: rgb(188, 234, 249);
}


  .mantine-np8w2m{
    background-color: red;
  }


  } */

  /* .mantine-SegmentedControl-root{
    background-color: rgb(255, 249, 249);} */